:root{
    --primary-color: #4E47FF;
    --secondary-color:rgba(37, 36, 50, 0.5);
    --productive-color:rgba(78, 71, 255, 0.1);
    --background-color: #D6DDED;
    --black-color: #252432;
    --yellow: #FFB805;
    --username-color: #757575;
    --white: #FFFFFF;

}

.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Styles */
.primary-button{
    background-color: var(--primary-color);
    color:var(--white);
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    border: none;
    text-align: center;
    
}
.primary-button:hover {
  background-color: var(--black-color)
}
.top-margin{
   margin-top: 116px;
}
/* nav part */
nav{
  display: flex;
  justify-content: space-between;
  padding: 50px 150px 0 150px;
}
.background{
  background-color: var(--background-color);
}
.banner{
  background-image: url("/images/Hero-bg.png");
}
.logo{
  color: var(--primary-color);
  font-weight: bold;
  font-size: 36px;
}
.banner-section{
  padding: 115px 267.5px 152px 267.5px;
  text-align: center;
}
.banner-text{
  font-size: 65px;
  font-weight: Bold;
}
.signup-button{
    height: 48px;
    width: 132px;
}
/* main part */
main{
  padding:137px 150px 137px 150px
}
/* action part */
.action-container{
  display: flex;
  justify-content: space-between;
  gap: 230px;
}
.wc-mini{
  height: 328px;
  width: 403px;
  border-radius: 48px;
}
.action-title{
  font-size: 42px;
  font-weight: bold;
}
.action-content{
  font-size: 24px;
  color: var(--secondary-color);
}
/* Productive user part */
.productive-section{
  background-color: var(--productive-color);
  border-radius: 24px;
  text-align: center;
  padding: 50px 80px 50px 80px;
}
.productive-title{
  font-size: 38px;
  font-weight: bold;
  
}
.productive-stats{
  display: flex;
  justify-content: space-evenly;

}
.productive-data{
  color: var(--primary-color);
  font-weight: bold;
  font-size: 80px;
  margin: 0;
  padding: 0;
}
.productive-data-desc{
  font-size: 20px;
  color: var(--secondary-color);
  
}
/* review part */
.review-container{
  text-align: center;
}
.review-title{
  font-size: 42px;
  font-weight: bold;
}
.box-container{
  display: flex;
  gap: 15px;
  text-align: left;
}

.box{
  background-color: var(--white);
  padding: 24px;
  border-radius: 14px;

}
.box:hover{
  background-color: var(--productive-color);

}
.user-container{
  display: flex;
  align-items: center;
  gap:10px;
}
.user-avatar{
  border-radius: 50%;
}
.user-review-title{
  font-size: 24px;
  font-weight: bold;
  margin: 24px 0px 0px 0px;
  padding: 0;
}
.user-review{
  font-size: 16px;
  color: var(--secondary-color);
  
}
.user-name{
  font-size: 16px;
  color: var(--username-color);
  margin: 0;
  padding: 0;
}
.bold{
  font-weight: bold;
}
/* Newsletter part */
.newsletter-container{
  display: flex;
  gap:233px;
  justify-content: space-between;
}
.get-in-touch{
  font-size: 97px;
  font-weight: bold;
}
.input-title{
  font-size: 18px;
  margin: 10px 0 10px 0;
  padding: 0;
}
.get-in-touch-button{
  margin-top: 19px;
  height: 62px;
  width: 540px;
}
.form-container input[type=text],.form-container input[type=email]{
  border: none;
  background-color: var(--white);
  border-radius: 10px;
  width: 497px;
  height: 50px;
  padding-left: 32px;
  
}.form-container textarea{
  border: none;
  background-color: var(--white);
  border-radius: 10px;
  width: 497px;
  height: 135px;
  padding: 32px 20px 32px 20px;

}

