:root{
    --secondary-color: #8987A1;
    --primary-color: #4E47FF;
    --background-color: #D6DDED;
    --black-color: #252432;
    --yellow: #FFB805;
    --username-color: #757575;

}

.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Styles */
.primary-button{
    background-color: var(--primary-color);
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    border: none;
    text-align: center;
    
}
.primary-button:hover {
  background-color: var(--black-color)
}
/* nav part */
nav{
  display: flex;
  justify-content: space-between;
  padding: 50px 150px 50px 150px;
}
.background{
  background-color: var(--background-color);
}
.banner{
  background-image: url("/images/Hero-bg.png");
}
.logo{
  color: var(--primary-color);
  font-weight: bold;
  font-size: 36px;
}
.banner-section{
  padding: 158px 267.5px 152px 267.5px;
  text-align: center;
}
.banner-text{
  font-size: 65px;
  font-weight: Bold;
}
.signup-button{
    height: 48px;
    width: 132px;
}
/* main part */
main{
  padding:137px 150px 137px 150px
}
/* action part */
.action-container{
  display: flex;
  justify-content: space-between;
  gap: 230px;
}
.wc-mini{
  height: 328px;
  width: 403px;
  border-radius: 48px;
}
.action-title{
  font-size: 42px;
  font-weight: bold;
}
.action-content{
  font-size: 24px;
  color: var(--secondary-color);
}

